# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.eee

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.eee

# OS
.DS_Store
Thumbs.db.venv/
